body {
    font-family: monospace;
    background-color: floralwhite;
}

.shakehead:hover {
    width: 330px;
    height: 420px;
}

.link-header{
    text-decoration: none;
    color: #637A9F;
    padding: 2px 3px;
    border: 1.5px solid #637A9F;
}

h1{
    color: #637A9F;
}

.no{
    text-decoration: none;
    color: #637A9F;
    padding: 2px 3px;
}